.titulo {
  position: relative;
  z-index: 1;
  top: 200px;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(47, 47, 48, 100) 0%,
    rgba(47, 47, 48, 100) 20%,
    rgba(255, 255, 255, 0) 40%
  );
}

.sep1 {
  margin: 42px 0 0 0;
}

.titulo > h1 {
  font-family: "Roboto";
  color: #fbfcff;
  padding-top: 5px;
  margin-left: 20px;
}

#titulo1 {
  position: absolute;
  top: 192px;
}

.separador {
  width: 100%;
  height: 200px;
  opacity: 80%;
}
