* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
  background-color: #f0f0f0;
}

:root {
  background-color: #FFF ;
}

#members {
  text-align: right;
  margin-bottom: 2%;
}

#members a {
 text-decoration: none;
 color: inherit;
 margin: 0 1%;
}

body {
  overflow: auto;
}

h1 {
  color: black;
}

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navBar a {
  color: inherit;
  text-decoration: none;
}

.contenido{
  width: 150px;
  z-index: 1;
  position: absolute;
  display: none;
}

.contenido a {
  display: block;
}

.contenido a:hover {
  background-color: red;
}

.desplegable:hover .contenido {
  display: block;
}

.navBar li {
  list-style-type: none;
  color: inherit;
}

.showcase {
  margin: 0 1% 1% 1%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}

#showcase1 {
  width: 98%;
  grid-row: 1/3;
}

#showcase2 {
  height: 98%;
  width: 100%;
  align-self: flex-start;
}

#showcase3 {
  height: 98%;
  width: 100%;
  align-self: flex-end;
  justify-self: end;
}

.content{
}

.container {
  margin: 0 1%;

}

footer {
}

#news {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}

#news > h1 {
  margin-bottom: 2%;
}

#news > .title {
  margin-top: 0px;
}

.title {
  width: 100%;
  margin: 7% 0 5% 0;
}

.new {
  margin-top: 3%;
  box-shadow: -11px 14px 23px 3px rgba(0,0,0,0.75);
}

@media (min-width: 650px) {
  .new {
    max-width: 48%;
    min-width: 300px;
  }
}

@media (max-width: 650px) {
  .new {
    width: 96%;
  }

  footer {
    font-size: 0.8em;
  }
}

.band {
  overflow: auto;
  padding: 1%;
  margin-bottom: 3%;
}

.band > img {
  min-width: 200px;
  float: left;
  width: 25%;
  margin-right: 2%;
}

#soloWeek {
  margin: 0;
}

#soloOfTheWeek > div {
  float: left;
  width: 40%;
  margin-right: 2%;
  margin-bottom: 3%;
  min-width: 300px;
  min-height: 168.75px;
}

.aspectRatio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#solo {
  margin: 3% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#pastWeeks {
  clear: both;
}

#solos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
}

#solos iframe {
  width: 28.8vw;
  height: 16.2vw;
}

footer {
  margin: auto;
  width: 98%;
  height: 20px;
  margin-bottom: 2px;
  text-align: center;
}

#enconstruccion {
  height: 95vh;
  line-height: 95vh;
  text-align: center;
}