* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
}

#members {
  text-align: right;
  margin-bottom: 2%;
}

#members a {
 text-decoration: none;
 color: inherit;
 margin: 0 1%;
}

body {
  overflow: auto;
}

h1 {
  color: black;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  position: fixed;
  justify-items: center;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

/*
    MENU
*/

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  width: 100%;
  padding: 12px 0;
  list-style-type: none;
  text-align: center;
}

nav > ul > li:hover {
  background:linear-gradient(90deg, #49a5cc 0%,#023141 100% );
  color: white;
}

nav > ul > li > a {
  text-decoration: none;
    color: inherit;
  text-transform: uppercase;
  font-family: "Roboto";
  width: 100%;
  height: 100%;
}

nav > ul > li > a > .contenido:hover {
  display: block;
  position: absolute;
}

/* 
    SUB MENU
*/

nav > ul > li > ul {
  display: none;
  margin-top: 12px;
  position: absolute;
  padding: 0;
  width: 20%;
  border-radius: 1px 8px 1px 8px;
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
}

nav > ul > li:hover > ul {
  display: flex;
}

nav > ul > li > ul > li {
  list-style-type: none;
  padding: 8px;
  border-radius: 1px 8px 1px 8px;

}

nav > ul > li > ul > li:hover {
  background:linear-gradient(90deg, #49a5cc 0%,#023141 100% );
}

nav > ul > li > ul > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 12px;
}

.showcase {
  margin: 0 1% 1% 1%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
}

#showcase1 {
  width: 98%;
  grid-row: 1/3;
}

#showcase2 {
  height: 98%;
  width: 100%;
  align-self: flex-start;
}

#showcase3 {
  height: 98%;
  width: 100%;
  align-self: flex-end;
  justify-self: end;
}

.content{
}

.container {
  margin: 0 1%;

}

footer {
}

#news {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}

#news > h1 {
  margin-bottom: 2%;
}

#news > .title {
  margin-top: 0px;
}

.title {
  width: 100%;
  margin: 7% 0 5% 0;
}

.new {
  margin-top: 3%;
  box-shadow: 13px 15px 11px -8px rgba(158,158,158,1);
}

@media (min-width: 650px) {
  .new {
    max-width: 48%;
    min-width: 300px;
  }
}

@media (max-width: 650px) {
  .new {
    width: 96%;
  }

  footer {
    font-size: 0.8em;
  }
}

.band {
  overflow: auto;
  padding: 1%;
  margin-bottom: 3%;
}

.band > img {
  min-width: 200px;
  float: left;
  width: 25%;
  margin-right: 2%;
}

#soloWeek {
  margin: 0;
}

#soloOfTheWeek > div {
  float: left;
  width: 40%;
  margin-right: 2%;
  margin-bottom: 3%;
  min-width: 300px;
  min-height: 168.75px;
}

.aspectRatio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#solo {
  margin: 3% 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#pastWeeks {
  clear: both;
}

#solos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
}

#solos iframe {
  width: 28.8vw;
  height: 16.2vw;
}

footer {
  margin: auto;
  width: 98%;
  height: 20px;
  margin-bottom: 2px;
  text-align: center;
}

#enconstruccion {
  height: 95vh;
  line-height: 95vh;
  text-align: center;
}