video {
    width: 55%;
    max-width: 800px;
}

.tech {
    overflow: auto;
    clear: both;
}

.tech ul {
    width:  45%;
    display: inline;
}

.tech ul li {
    width: 45%;
}

.izquierda video{
    float: left;
}

.derecha video{
    float: right;
}

footer {
    clear: both;
}

#vibrato .title {
    margin-top: 3%;
}

.izquierda p {
    float:right;
    width: 45%;
}

.derecha ul {
    clear: both;
    float: left;
}

.derecha p {
    float:left;
    width: 45%;
}